.g{
  background-color:powderblue;
  margin-bottom: 1px;
    text-align:center;


  }
  .footer-link{
    padding: 0 10px;
    color:#66BFBF;
  }
  .bottom-container{
    margin:0;
    background-color: #66BFBF;
  }

.aj{margin-bottom: 0;
  color:#EAF6F6;
font-size: .75rem;
  margin:auto;
  padding: 10px 0;
}
.footer-link{text-decoration: none;
  color:#11999E;

  padding:10px;
}
a:hover{color:#EAF6F6;

}

.btn {
    border: 0;
    line-height: 3;
    padding: 0 40px;
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color:#66BFBF;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.btn:hover {
    background-color: #3DF6D3;
}


  hr{border:dotted #66BFBF 6px;
    border-bottom:none;
    margin:50px auto;
    width:4%;
  }

  .pa{
    width:40%;
      color:#40514E;
      margin:10px auto;
  }
.par{
  width:40%;
    color:#40514E;
    margin:10px auto;
}
.pad{
  width:40%;
    color:#40514E;
    margin:10px auto;
}
  .er{width:40%;
    color:#40514E;
    margin:10px auto;

  }
  h2,h3{color:#66BFBF;


  }
h1{color:#66BFBF;
  text-align:center;
  font-family: 'Sacramento', cursive;
  font-size: 90px;
margin-bottom: 0px;
}
.ch{width:25%;
  border-radius:20%;
  margin:10px auto;
}
.comput{
  width:25%;
}
.me{margin:50px auto;
  border-radius:60%;
}
.profile{
  text-align: center;
  color:red;
}
.skills{
  text-align: center;
  color:red;
}
.skill-row{
  text-align: center;
  color:red;
}
.contact-me{
  text-align: center;
  color:red;
}
.bottom-container{
  text-align: center;
  color:red;
}

p{font-size: 2.5rem;
  color:#66BFBF;
  margin-top: 0px;
    text-align:center;
  font-family: 'Satisfy', cursive;
}
.as{
  background-color: blue;
  width:200px;
  height:200px;


}
.sf{width:200px;
  background-color: red;
  height:200px;

}

.bottom{
  position:absolute;
  left:150px;
}
.t {  position:absolute;

  margin-top:80px;
}
